.services-container {
    padding-top: 25px;
}

.services-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    text-transform: capitalize;
    margin-top: 2em;
    color: #507890;
}

.services-boxes-container {
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    text-align: center;
}

.services-boxes {
    width: 400px;
    max-width: 95%;
    vertical-align: top;
    min-height: 530px;
    display: inline-block;
    margin: 20px;
    -webkit-box-shadow: -3px 2px 27px -3px hsla(0,0%,70%,.252);
    box-shadow: -3px 2px 27px -3px hsla(0,0%,70%,.252);
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.services-boxes:hover {
    -webkit-box-shadow: -3px 2px 27px -3px hsla(0,0%,70%,.752);
    box-shadow: -3px 2px 27px -3px hsla(0,0%,70%,.752);
}

.services-boxes-title {
    margin: 0;
    padding: 25px 0;
    text-transform: uppercase;
    color: white;
    background: #4284c6;
    font-weight: normal;
    letter-spacing: 4px;
    font-size: 1.3em;
}

.services-boxes:hover .services-boxes-title {
    background: #316da7;
}

.services-img-logo {
    height: 150px;
    max-width: 100%;
    padding-top: 25px;
}

.services-info {
    text-align: left;
    padding: 10px 15px 10px 40px;
}

.services-info li {
    margin-bottom: 20px;
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.get-started-title {
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 20px;
    margin: 5px;
    color: #787878;

}

.get-started-arrows-container{
    width: 95%;
    margin: 0 auto;
}

.get-started-container {
    font-family: "Open Sans", sans-serif;
    font-size: 1.75em;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    background: #f6f6f6;
    padding: 1.36em 0;
    color: white;
    position: relative;
    z-index: 3;
    box-shadow: -3px 2px 27px -3px hsla(0,0%,85%,1);
}

.arrow-left, .second-arrow-left {
    margin-top: 100px;
    margin-bottom: -4px;
    width: 0;
    height: 0;
    vertical-align: bottom;
    display: inline-block;
    border-top: 70px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 90px solid #f6f6f6;
    position: relative;
    z-index: 4;
}

.arrow-right, .second-arrow-right{
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 70px solid transparent;
    border-right: 90px solid #f6f6f6;
    float: right;
    position: relative;
    z-index: 4;
    margin-top: -4px;
}

.second-arrow-left {
    z-index: 1;
    border-left: 90px solid rgba(225,225,225, 0.45);
    margin-left: -43px;
}

.second-arrow-right {
    z-index: 1;
    border-right: 90px solid rgba(225,225,225, 0.45);
    margin-right: -43px;
}

.service-box-price {
    margin: 45px 0;
    padding: 20px;
    font-size: 2em;
    font-weight: 300;
    background: #f2f9ff4d;
    border: 4px solid #f3f3f3c7;
    border-left: 0;
    border-right: 0;
    color: #6f6f6f;
}

.get-started-button {
    display: inline-block;
    padding: 10px 15px;
    background: white;
    text-transform: uppercase;
    font-weight: bold;
    color: #252525;
    cursor: pointer;
}

.get-started-button:hover {
    background: #454545;
    color: white;
}

/* .maps-container {
    display: block;
    margin-top: 10em;
    text-align: center;
} */

@media only screen and (max-width: 863px) {

    .services-boxes {
        margin: 20px auto;
    }

}