.portfolio-container {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 5em;
    padding-top: 25px;
}

.portfolio-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    text-transform: capitalize;
    margin-top: 2em;
    color: #507890;
}

.template-container {
    padding: 50px 0;
    text-align: center;
    width: 100%;
    background: #ececec7d;
}

.template-img-container {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;

}

.restaurant-img-name-container {
    display: inline-block;
    width: 400px;
    max-width: 90%;
    margin: 15px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.restaurant-img-container {
    width: 100%;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    background: #fafafa;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.restaurant-img-item {
    max-width: 100%;
    box-sizing: border-box;
    outline: none!important;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.restaurant-img-item:hover {
    -webkit-animation-name: scale;
    -webkit-animation-duration: 0.6s;
    -moz-animation-name: scale;
    -moz-animation-duration: 0.6s;
    transform: scale(1.14);
}

.template-name {
    text-align: left;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 15px;
    font-weight: bold;
    color: #767676;
}

.coming-soon {
    display: inline-block;
    border: 1px solid #65c554;
    color: #65c554;
    text-transform: uppercase;
    padding: 5px;
    margin-left: 20px;
    font-size: 0.6em;
}

@-webkit-keyframes scale{
    from {-webkit-transform:scale(1);}
    to {-webkit-transform: scale(1.14);}    
}
    