.navbar-container {
    /* position: absolute; */
    top: 0;
    z-index: 9;
    padding: 20px 96px;
}

.navbar-list-container {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar-list-item {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    color: #565656;
}

.navbar-list-link {
    text-decoration: none;
    color: #8e8e8e;
    font-weight: 300;
    letter-spacing: 2px;
}

.navbar-list-link:hover {
    color: #474747;
}

.navbar-toggle-icon {
    display: none;
    font-size: 1.4em;
    margin-right: 2em;
    margin-top: 50px;
    text-align: right;    
}

/* CSS Responsive code for navbar */
@media only screen and (max-width: 640px) {
    .navbar-toggle-icon {
        display: block;
        color: white;
    }
    
    .navbar-list-container {
        display: none;
    }

    .navbar-container {
        display: none;
        overflow: hidden;
        z-index: 3;
        padding: 0;
    }

    .navbar-container-responsive {
        display: block;
        position: fixed;        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #222f3e;   
    }


    .slideIn {
        animation-duration: 1.5s;
        animation-name: slidein;
    }

    .navbar-list-container-responsive {
        display: block;
        text-align: left;
    }

    .navbar-list-item:first-child {
        margin-top: 0;
    }

    .navbar-list-item {
        display: block;
        margin: 20px;
        cursor: pointer;
        font-size: 2em;
        color: white;        
    }

    .navbar-list-link {
        color: white;
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }