.intro-container {
    text-align: center;
}

.intro-logo {
    display: block;
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
}

.intro-text-container {
    display: inline-block;
    text-align: center;
    margin: 20px;
    vertical-align: top;
    padding-top: 30px;
    box-sizing: border-box;
}

.intro-title {
    text-align: left;
    color: #2b6592;
    font-size: 1.6em;
    font-family: 'Quicksand';
    font-weight: bold;
    text-transform: uppercase;
}

.intro-text {
    font-family: "Quicksand", sans-serif;
    font-size: 2.2em;
    font-weight: 300;
    color: #575757;
    width: 640px;
    margin: 0;
    text-align: left;
}

.intro-img-container{
    display: inline-block;
    margin: 20px;
}

.intro-img {
    width: 600px;
    max-width: 100%;
}