.footer-container {
    width: 100%;
    /* background: #2f3640; */
    background: url('../../images/footer.png');
    background-repeat: no-repeat;
    color: white;
    background-position: bottom;
    background-size: cover;
    margin-top: 10em;
}

.footer-content {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
    padding: 15em 1em 0em 2em;
    box-sizing: border-box;
}

.footer-icons {
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.5em;
}